@import "../starting";

//About us

.about-block {
  background-color: @default-color-main;
  padding: 20px 5px;
}

.about-block_heading {
  letter-spacing: 14px;
  font-size: 16px;
  text-align: center;
}

.about-block_article {
  max-width: 800px;
  margin: 0 auto;
}

.about-block_article_heading {
  text-align: center;
}

.about-block_article_text {
  padding: 0 5px;
}

.about-block_courses {
  justify-content: space-around;
}

.about-block_courses_item {
  flex-basis: 450px;
  margin: 0;
}

.about-block_courses_img {
  width: 100%;
}

.about-block_courses_heading {
  color: @brand-color;
  text-align: center;
  font-size: 18px;
}

.about-block_courses-list {
  padding-left: 24px;
}

.about-block_courses-list_item {
  margin: 40px 0;
  display: flex;
  align-items: center;
  a {
    color: @default-color-second;
    margin-left: 22px;
    font-size: 12px;
    text-decoration: none;
  }
  a:hover {
    color: @brand-color;
  }
  hr {
    border-top: 1px solid @default-color-main;
    width: 80px;
    margin: 0 20px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 854px) {
  .about-block {
    padding: 80px 5px;
  }
}