body {
  margin: 0;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  min-width: 320px;
}
.about-block {
  background-color: #fff;
  padding: 20px 5px;
}
.about-block_heading {
  letter-spacing: 14px;
  font-size: 16px;
  text-align: center;
}
.about-block_article {
  max-width: 800px;
  margin: 0 auto;
}
.about-block_article_heading {
  text-align: center;
}
.about-block_article_text {
  padding: 0 5px;
}
.about-block_courses {
  justify-content: space-around;
}
.about-block_courses_item {
  flex-basis: 450px;
  margin: 0;
}
.about-block_courses_img {
  width: 100%;
}
.about-block_courses_heading {
  color: #1674D1;
  text-align: center;
  font-size: 18px;
}
.about-block_courses-list {
  padding-left: 24px;
}
.about-block_courses-list_item {
  margin: 40px 0;
  display: flex;
  align-items: center;
}
.about-block_courses-list_item a {
  color: #0f0f0f;
  margin-left: 22px;
  font-size: 12px;
  text-decoration: none;
}
.about-block_courses-list_item a:hover {
  color: #1674D1;
}
.about-block_courses-list_item hr {
  border-top: 1px solid #fff;
  width: 80px;
  margin: 0 20px;
}
.about-block_courses-list_item .icon {
  width: 40px;
  height: 40px;
}
@media (min-width: 854px) {
  .about-block {
    padding: 80px 5px;
  }
}
