@import "../starting";

//Content

.content-block {
  position: relative;
  padding: 0 5px;
}

.content-block_secondary-header {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 5px;
}

.content_steps-list {
  margin: 34px 0;
}

.content_details-list {
  max-width: 800px;
  color: @default-color-second--lighten;
}

.content-block_logo-img {
  width: 100%;
  max-width: 300px;
}

.content_steps-list{
  list-style-type: square;
  display: inline-block;
  color: @default-color-second--lighten;
  text-align: left;
}

.content_details-list {
  margin: 0 auto;
  color: @default-color-second--lighten;
  max-width: 624px;
  padding: 0;
}

.content_steps-list li {
  margin: 26px 16px;
  color: @brand-color-third;
}

.content_steps-list li:nth-of-type(2) {
  color: @brand-color-second;
}

.content_steps-list li:nth-of-type(3) {
  color: @brand-color;
}

.content_steps-list li span {
  color: @default-color-second--lighten;
}

.graduation-details-header {
  font-weight: 400;
}

@media screen and (min-width: 900px){
   .content-block-bg-img {
     background: url(../images/Polygon1.png) no-repeat top right,
     url(../images/Polygon.png) no-repeat bottom left;
     background-size: 10%;
   }
}