body {
  margin: 0;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  min-width: 320px;
}
.content-block {
  position: relative;
  padding: 0 5px;
}
.content-block_secondary-header {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 5px;
}
.content_steps-list {
  margin: 34px 0;
}
.content_details-list {
  max-width: 800px;
  color: #999;
}
.content-block_logo-img {
  width: 100%;
  max-width: 300px;
}
.content_steps-list {
  list-style-type: square;
  display: inline-block;
  color: #999;
  text-align: left;
}
.content_details-list {
  margin: 0 auto;
  color: #999;
  max-width: 624px;
  padding: 0;
}
.content_steps-list li {
  margin: 26px 16px;
  color: #ac3896;
}
.content_steps-list li:nth-of-type(2) {
  color: #fed030;
}
.content_steps-list li:nth-of-type(3) {
  color: #1674D1;
}
.content_steps-list li span {
  color: #999;
}
.graduation-details-header {
  font-weight: 400;
}
@media screen and (min-width: 900px) {
  .content-block-bg-img {
    background: url(../images/Polygon1.png) no-repeat top right, url(../images/Polygon.png) no-repeat bottom left;
    background-size: 10%;
  }
}
