@import "../starting";

//Details_block-----------------------------

.details-block {
  background-size: cover;
  background-color: #222;
  padding: 20px 5px;
}

.details-block_heading {
  color: @default-color-main--darken;
  text-align: center;
}

.details-block_container {
  justify-content: center;
}

.details-block_container_content {
  background-color: @brand-color--attractive;
  margin: 10px;
  position: relative;
  padding: 36px 5px;
  color: @default-color-main--darken;
  flex-basis: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-block_container_content_img {
  width: 50%;
}

@media (min-width: 854px) {
  .details-block {
    padding: 80px 5px;
  }

  .details-block_container_content {
    margin: 30px;
  }
}

@media (min-width: 1025px) {
  .courses-list_view-more {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(23, 49, 73, 0.8);
    opacity: 0;
    transition: .6s;
  }

  .courses-list_view-more-inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
  }

  .courses-list_view-more:hover {
    opacity: 1;
  }
}