body {
  margin: 0;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  min-width: 320px;
}
.faq-block {
  padding: 10px 5px;
  position: relative;
  background-color: #e5e9ee;
}
.faq_secondary-header {
  color: #1674D1;
  font-size: 15px;
}
.faq_container {
  max-width: 640px;
  margin: auto;
}
.faq_question {
  color: #1674D1;
  font-size: 15px;
  padding: 15px 0;
  outline: none;
  cursor: pointer;
}
.faq_answers {
  color: #999;
  font-size: 14px;
  margin-left: 15px;
}
@media (min-width: 854px) {
  .faq-block {
    padding: 80px 5px;
  }
}
@media screen and (min-width: 900px) {
  .faq-block-bg-img {
    background: url(../images/Polygon1.png) no-repeat bottom 10% right, url(../images/Polygon.png) no-repeat top 10% left;
    background-size: 10%;
    background-color: #e5e9ee;
  }
}
