body {
  margin: 0;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  min-width: 320px;
}
.footer-block {
  background-color: #222;
  padding: 10px 0;
  justify-content: space-around;
  align-items: center;
}
.footer-block_widget {
  margin-bottom: 30px;
}
.footer-block_widget_text {
  font-size: 12px;
  color: #999;
}
.footer-block_widget_contacts {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  margin: 4px 0 31px;
}
@media (min-width: 854px) {
  .footer-block {
    padding: 100px 0;
  }
}
