@import "../starting";

//Footer-----------------------------

.footer-block {
  background-color: @default-color-second--middle-lighten;
  padding: 10px 0;
  justify-content: space-around;
  align-items: center;
}

.footer-block_widget {
  margin-bottom: 30px;
}

.footer-block_widget_text{
  font-size: 12px;
  color: @default-color-second--lighten;
}

.footer-block_widget_contacts {
  font-size: 12px;
  text-transform: uppercase;
  color: @default-color-main;
  margin: 4px 0 31px;
}

@media (min-width: 854px) {
  .footer-block {
    padding: 100px 0;
  }
}