body {
  margin: 0;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  min-width: 320px;
}
.header {
  background-position: center;
  background-color: #222;
  padding: 80px 5px 10px 5px;
  background-size: cover;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
}
.header_text {
  max-width: 800px;
  margin: 40px auto;
  font-size: 16px;
}
.header_img {
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 854px) {
  .header {
    padding: 120px 5px 80px 5px;
  }
}
