body {
  margin: 0;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  min-width: 320px;
}
.main-nav {
  background-color: rgba(22, 116, 209, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}
.main-nav_link {
  color: #fff;
  transition: .5s;
}
.main-nav_link:hover {
  color: #1674D1;
}
.menu__toggler {
  position: absolute;
  font-size: 0;
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 0;
  border: 0;
  top: 19px;
  right: 10px;
}
.menu__toggler:after {
  content: '';
  position: absolute;
  background: #fff;
  height: 4px;
  width: 30px;
  top: 20px;
  left: 0;
}
.menu__toggler:before {
  content: '';
  position: absolute;
  background: #fff;
  height: 4px;
  width: 30px;
  top: 10px;
  left: 0;
}
.menu__list {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  background-color: rgba(22, 116, 209, 0.5);
}
.menu__list--shown {
  display: block;
}
@media (min-width: 854px) {
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: flex;
    position: static;
    background-color: transparent;
  }
}
