@import "../starting";

//Main_navigation

.main-nav {
  background-color: @brand-color--semi-transparent;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.main-nav_link {
  color: @default-color-main;
  transition: .5s;
}
.main-nav_link:hover {
  color: @brand-color;
}

.menu__toggler {
  position: absolute;
  font-size: 0;
  width: 30px;
  height: 4px;
  background-color: @default-color-main;
  border-radius: 0;
  border: 0;
  top: 19px;
  right: 10px;
  &:after {
    content: '';
    position: absolute;
    background: @default-color-main;
    height: 4px;
    width: 30px;
    top: 20px;
    left: 0;
  }
  &:before {
    content: '';
    position: absolute;
    background: @default-color-main;
    height: 4px;
    width: 30px;
    top: 10px;
    left: 0;
  }
}

.menu__list {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  background-color: @brand-color--semi-transparent;
}

.menu__list--shown {
  display: block;
}

@media (min-width: 854px) {
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: flex;
    position: static;
    background-color: transparent;
  }
}