body {
  margin: 0;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  min-width: 320px;
}
.social-links-block {
  line-height: 1;
  background-color: #333;
  letter-spacing: 0.08em;
  font-size: 13px;
  color: #666;
  justify-content: space-around;
  align-items: center;
}
.social-block_link {
  font-size: 16px;
  color: #fff;
  transition: .5s;
}
.social-block_link:hover {
  color: #458bd1;
}
