@import "../starting";

//Social_block-----------------------------

.social-links-block {
  line-height: 1;
  background-color: #333;
  letter-spacing: 0.08em;
  font-size: 13px;
  color: @default-color-third;
  justify-content: space-around;
  align-items: center;
}

.social-block_link{
  font-size: 16px;
  color: @default-color-main;
  transition: .5s;
}

.social-block_link:hover {
  color: @brand-color--lighten;
}