@import "../starting";

//Team_block-----------------------------

.team-block {
  padding-top: 20px;
}

.team-stuff {
  flex-basis: 300px;
  flex-grow: 1;
  position: relative;
  margin: 0;
}

.team-stuff-img {
  width: 100%;
  display: block;
}

.team_element-shadow-overlay {
  .heading {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    text-align: center;
    color: @default-color-main;
    text-shadow: @default-color-second 0 0 10px;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 35px;
    letter-spacing: 0.3em;
  }
}

@media (min-width: 854px) {
  .team-block {
    padding-top: 80px;
  }
}

@media (min-width: 1025px) {
  .team_element-shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: @default-color-second--semi-transparent;
    opacity: 0;
    transition: .4s;
    .heading {
      font-size: 6px;
    }
  }

  .team_element-shadow-overlay:hover {
    opacity: 1;
    .heading {
      font-size: 15px;
      margin: 0 0 35px;
      transition: .4s;
      transform: scale(1);
      opacity: 1;
    }
  }
}