@import "starting";
.h2 {
  letter-spacing: 1px;
  margin: 28px 0;
  font-size: 24px;
  font-weight: 400;
  color: @brand-color;
}

@media (min-width: 854px) {
  .h2 {
    font-size: 55px;
  }
}

.h3 {
  font-size: 24px;
  margin: 20px 0;
  font-weight: 500;
}

.h4 {
  font-size: 22px;
  margin: 10px 0;
  font-weight: 400;
}

.h5 {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}

//Buttons-----------------------------
.button {
  outline: none;
  border: none;
}

.button_default {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background-color: @brand-color--darken;
  padding: 18px 48px;
  font-weight: bold;
  transition: .8s;
}

.button_default:hover {
  border-color: @brand-color--lighten;
  background-color: @brand-color--lighten;
}

.scroll_button {
  position: fixed;
  cursor: pointer;
  right: 40px;
  bottom: 40px;
  text-align: center;
  border: 2px solid @brand-color;
  font-size: 20px;
  opacity: 0.8;
  height: 40px;
  width: 40px;
  color: @brand-color;
  background: none;
  transition: .5s;
}

.scroll_button:hover {
  background-color: @brand-color;
  color: @default-color-main;
}

//Nav-----------------------------
.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.nav_link {
  text-transform: uppercase;
  padding: 20px;
  list-style-type: none;
  a {
    text-decoration: none;
  }
}

//Containers-----------------------------
.container_wrap {
  display: flex;
  flex-wrap: wrap;
}