.uppercase {
  text-transform: uppercase;
}

.helvetica {
  font-family: 'Helvetica Regular', sans-serif;
}

.courses-bg-img {
  background-image: url(../images/courses_bg.jpg);
}

.layer-bg-img {
  background-image: url(../images/Layer.jpg);
}

.header-bg-img {
  background-image: url(../images/block-info.jpg);
}

.text-center {
  text-align: center;
}