/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
body {
  margin: 0;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  min-width: 320px;
}
.h2 {
  letter-spacing: 1px;
  margin: 28px 0;
  font-size: 24px;
  font-weight: 400;
  color: #1674D1;
}
@media (min-width: 854px) {
  .h2 {
    font-size: 55px;
  }
}
.h3 {
  font-size: 24px;
  margin: 20px 0;
  font-weight: 500;
}
.h4 {
  font-size: 22px;
  margin: 10px 0;
  font-weight: 400;
}
.h5 {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}
.button {
  outline: none;
  border: none;
}
.button_default {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background-color: #0066cc;
  padding: 18px 48px;
  font-weight: bold;
  transition: .8s;
}
.button_default:hover {
  border-color: #458bd1;
  background-color: #458bd1;
}
.scroll_button {
  position: fixed;
  cursor: pointer;
  right: 40px;
  bottom: 40px;
  text-align: center;
  border: 2px solid #1674D1;
  font-size: 20px;
  opacity: 0.8;
  height: 40px;
  width: 40px;
  color: #1674D1;
  background: none;
  transition: .5s;
}
.scroll_button:hover {
  background-color: #1674D1;
  color: #fff;
}
.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
.nav_link {
  text-transform: uppercase;
  padding: 20px;
  list-style-type: none;
}
.nav_link a {
  text-decoration: none;
}
.container_wrap {
  display: flex;
  flex-wrap: wrap;
}
.main-nav {
  background-color: rgba(22, 116, 209, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}
.main-nav_link {
  color: #fff;
  transition: .5s;
}
.main-nav_link:hover {
  color: #1674D1;
}
.menu__toggler {
  position: absolute;
  font-size: 0;
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 0;
  border: 0;
  top: 19px;
  right: 10px;
}
.menu__toggler:after {
  content: '';
  position: absolute;
  background: #fff;
  height: 4px;
  width: 30px;
  top: 20px;
  left: 0;
}
.menu__toggler:before {
  content: '';
  position: absolute;
  background: #fff;
  height: 4px;
  width: 30px;
  top: 10px;
  left: 0;
}
.menu__list {
  display: none;
  position: absolute;
  right: 0;
  top: 50px;
  background-color: rgba(22, 116, 209, 0.5);
}
.menu__list--shown {
  display: block;
}
@media (min-width: 854px) {
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: flex;
    position: static;
    background-color: transparent;
  }
}
.header {
  background-position: center;
  background-color: #222;
  padding: 80px 5px 10px 5px;
  background-size: cover;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
}
.header_text {
  max-width: 800px;
  margin: 40px auto;
  font-size: 16px;
}
.header_img {
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 854px) {
  .header {
    padding: 120px 5px 80px 5px;
  }
}
.details-block {
  background-size: cover;
  background-color: #222;
  padding: 20px 5px;
}
.details-block_heading {
  color: #e5e9ee;
  text-align: center;
}
.details-block_container {
  justify-content: center;
}
.details-block_container_content {
  background-color: #3fa0ff;
  margin: 10px;
  position: relative;
  padding: 36px 5px;
  color: #e5e9ee;
  flex-basis: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.details-block_container_content_img {
  width: 50%;
}
@media (min-width: 854px) {
  .details-block {
    padding: 80px 5px;
  }
  .details-block_container_content {
    margin: 30px;
  }
}
@media (min-width: 1025px) {
  .courses-list_view-more {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(23, 49, 73, 0.8);
    opacity: 0;
    transition: .6s;
  }
  .courses-list_view-more-inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
  }
  .courses-list_view-more:hover {
    opacity: 1;
  }
}
.team-block {
  padding-top: 20px;
}
.team-stuff {
  flex-basis: 300px;
  flex-grow: 1;
  position: relative;
  margin: 0;
}
.team-stuff-img {
  width: 100%;
  display: block;
}
.team_element-shadow-overlay .heading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  text-align: center;
  color: #fff;
  text-shadow: #0f0f0f 0 0 10px;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 35px;
  letter-spacing: 0.3em;
}
@media (min-width: 854px) {
  .team-block {
    padding-top: 80px;
  }
}
@media (min-width: 1025px) {
  .team_element-shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(17, 17, 17, 0.9);
    opacity: 0;
    transition: .4s;
  }
  .team_element-shadow-overlay .heading {
    font-size: 6px;
  }
  .team_element-shadow-overlay:hover {
    opacity: 1;
  }
  .team_element-shadow-overlay:hover .heading {
    font-size: 15px;
    margin: 0 0 35px;
    transition: .4s;
    transform: scale(1);
    opacity: 1;
  }
}
.social-links-block {
  line-height: 1;
  background-color: #333;
  letter-spacing: 0.08em;
  font-size: 13px;
  color: #666;
  justify-content: space-around;
  align-items: center;
}
.social-block_link {
  font-size: 16px;
  color: #fff;
  transition: .5s;
}
.social-block_link:hover {
  color: #458bd1;
}
.footer-block {
  background-color: #222;
  padding: 10px 0;
  justify-content: space-around;
  align-items: center;
}
.footer-block_widget {
  margin-bottom: 30px;
}
.footer-block_widget_text {
  font-size: 12px;
  color: #999;
}
.footer-block_widget_contacts {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  margin: 4px 0 31px;
}
@media (min-width: 854px) {
  .footer-block {
    padding: 100px 0;
  }
}
.about-block {
  background-color: #fff;
  padding: 20px 5px;
}
.about-block_heading {
  letter-spacing: 14px;
  font-size: 16px;
  text-align: center;
}
.about-block_article {
  max-width: 800px;
  margin: 0 auto;
}
.about-block_article_heading {
  text-align: center;
}
.about-block_article_text {
  padding: 0 5px;
}
.about-block_courses {
  justify-content: space-around;
}
.about-block_courses_item {
  flex-basis: 450px;
  margin: 0;
}
.about-block_courses_img {
  width: 100%;
}
.about-block_courses_heading {
  color: #1674D1;
  text-align: center;
  font-size: 18px;
}
.about-block_courses-list {
  padding-left: 24px;
}
.about-block_courses-list_item {
  margin: 40px 0;
  display: flex;
  align-items: center;
}
.about-block_courses-list_item a {
  color: #0f0f0f;
  margin-left: 22px;
  font-size: 12px;
  text-decoration: none;
}
.about-block_courses-list_item a:hover {
  color: #1674D1;
}
.about-block_courses-list_item hr {
  border-top: 1px solid #fff;
  width: 80px;
  margin: 0 20px;
}
.about-block_courses-list_item .icon {
  width: 40px;
  height: 40px;
}
@media (min-width: 854px) {
  .about-block {
    padding: 80px 5px;
  }
}
.content-block {
  position: relative;
  padding: 0 5px;
}
.content-block_secondary-header {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 5px;
}
.content_steps-list {
  margin: 34px 0;
}
.content_details-list {
  max-width: 800px;
  color: #999;
}
.content-block_logo-img {
  width: 100%;
  max-width: 300px;
}
.content_steps-list {
  list-style-type: square;
  display: inline-block;
  color: #999;
  text-align: left;
}
.content_details-list {
  margin: 0 auto;
  color: #999;
  max-width: 624px;
  padding: 0;
}
.content_steps-list li {
  margin: 26px 16px;
  color: #ac3896;
}
.content_steps-list li:nth-of-type(2) {
  color: #fed030;
}
.content_steps-list li:nth-of-type(3) {
  color: #1674D1;
}
.content_steps-list li span {
  color: #999;
}
.graduation-details-header {
  font-weight: 400;
}
@media screen and (min-width: 900px) {
  .content-block-bg-img {
    background: url(../images/Polygon1.png) no-repeat top right, url(../images/Polygon.png) no-repeat bottom left;
    background-size: 10%;
  }
}
.faq-block {
  padding: 10px 5px;
  position: relative;
  background-color: #e5e9ee;
}
.faq_secondary-header {
  color: #1674D1;
  font-size: 15px;
}
.faq_container {
  max-width: 640px;
  margin: auto;
}
.faq_question {
  color: #1674D1;
  font-size: 15px;
  padding: 15px 0;
  outline: none;
  cursor: pointer;
}
.faq_answers {
  color: #999;
  font-size: 14px;
  margin-left: 15px;
}
@media (min-width: 854px) {
  .faq-block {
    padding: 80px 5px;
  }
}
@media screen and (min-width: 900px) {
  .faq-block-bg-img {
    background: url(../images/Polygon1.png) no-repeat bottom 10% right, url(../images/Polygon.png) no-repeat top 10% left;
    background-size: 10%;
    background-color: #e5e9ee;
  }
}
.uppercase {
  text-transform: uppercase;
}
.helvetica {
  font-family: 'Helvetica Regular', sans-serif;
}
.courses-bg-img {
  background-image: url(../images/courses_bg.jpg);
}
.layer-bg-img {
  background-image: url(../images/Layer.jpg);
}
.header-bg-img {
  background-image: url(../images/block-info.jpg);
}
.text-center {
  text-align: center;
}
