@font-regular: 'Source Sans Pro', sans-serif;
@brand-color: #1674D1;
@brand-color--lighten: #458bd1;
@brand-color--darken: #0066cc;
@brand-color--attractive: #3fa0ff;
@brand-color--semi-transparent: rgba(22, 116, 209, .5);
@brand-color-second: #fed030;
@brand-color-third: #ac3896;
@default-color-main: #fff;
@default-color-main--darken: #e5e9ee;
@default-color-second--lighten: #999;
@default-color-second--middle-lighten: #222;
@default-color-second: #0f0f0f;
@default-color-second--semi-transparent: rgba(17, 17, 17, 0.9);
@default-color-third: #666;

body {
  margin: 0;
  position: relative;
  font-family: @font-regular;
  letter-spacing: 1px;
  min-width: 320px;
}
